#pragma once
// Copia este fichero a secrets.h y rellena con tus datos reales.
#define WIFI_SSID "tu_red_wifi"
#define WIFI_PASS "tu_contraseña_wifi"
#define MQTT_URI  "mqtt://192.168.1.21:1883"  // IP de tu broker Mosquitto
